.cuerpo {
    background-color: black;
    width:15%;
    margin-left:auto;
    margin-right:auto;
    height:75%;
    padding-top:40px;
    padding-bottom:20px;
    border-radius: 3%;
}
#fierro{
    background-color: black;
    width:5%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
    color:black;
}
.light{
    padding-top:30%;
    padding-bottom:30%;
    margin-left:15%;
    margin-right:15%;
    margin-bottom:25px;
    border-top:20px;
    border-radius: 50%;
}
.red{
    background-color: red;
    color:red;
    
}
.yellow{
    background-color: yellow;
    color:yellow;
 
}
.green{
    background-color: green;
    color:green;
    
}
.glow {
    box-shadow:0px 0px 15px 10px yellow;
}